.headerText {
  background-color: #1C1C1E;
  color: #F5F5F7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.headerText h1 {
  font-weight: 600;
  font-size: 3rem;
}
