@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
font-family: "Roboto", sans-serif;
font-size: 1.8rem;
background-color: white;
 color: var(--text-color)
}

:root {
  --text-color: black;
  --secondary-text-color: #8E8E93;
}
